
html,body {margin: 10px;}

    div{
        display: flex;
    }
    
    
    body {
        display: grid;

        grid-template-columns:[inicio] 150px [metade-1 meio-1] 150px [metade-2 meio-2] 320px [fim];

        grid-template-rows: 100px 200px 200px;

        grid-column-gap: 20px;
        
        grid-row-gap: 20px;
        
    }
    

    .img3 {
        grid-column-start: metade-2;

        grid-column-end: fim;

        grid-column: meio-1 / fim;

        grid-row: 1 / span 2;

        grid-area: 1 / meio-2 / span 2 / fim;
    }

    .img4{
        grid-column: inicio / metade-2;

        grid-row: 2 / span 1;
    }

    .img5{
        grid-column: inicio / metade-2;

        grid-row: 3 / span 1;
    }

